@import '../../../style/variables.scss';

.expense-form {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $dark-gray-color;

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 8px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $white-color;
  }

  &__input {
    padding: 8px;
    width: 120px;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: $border-radius;
  }
}